services:
    cms-db:
        image: mysql:5.7 # 拘勇 MUDAN칂A PRINCIPAL: MySQL 5.7 (mais est치vel e r치pido para inicializa칞칚o Docker)
        volumes:
            - "./shared/db:/var/lib/mysql" # 拘勇 Volume sem :Z
        environment:
            - MYSQL_DATABASE=cms
            - MYSQL_USER=cms
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
        mem_limit: 1g
        env_file: config.env
        restart: always
        networks:
            cms_network:
                ipv4_address: 172.20.0.10 # 拘勇 IP Est치tico para contornar falha de DNS

    cms-xmr:
        image: ghcr.io/xibosignage/xibo-xmr:1.0
        ports:
            - "9505:9505"
        restart: always
        mem_limit: 256m
        env_file: config.env
        networks:
            - cms_network

    cms-web:
        image: ghcr.io/xibosignage/xibo-cms:release-4.3.0
        volumes:
            - "./shared/cms/custom:/var/www/cms/custom:Z"
            - "./shared/backup:/var/www/backup:Z"
            - "./shared/cms/web/theme/custom:/var/www/cms/web/theme/custom:Z"
            - "./shared/cms/library:/var/www/cms/library:Z"
            - "./shared/cms/web/userscripts:/var/www/cms/web/userscripts:Z"
            - "./shared/cms/ca-certs:/var/www/cms/ca-certs:Z"
            
        restart: always
        
        environment:
            - MYSQL_HOST=172.20.0.10 # 拘勇 Host 칠 o IP Est치tico
            - XMR_HOST=cms-xmr
            - CMS_USE_MEMCACHED=true
            - MEMCACHED_HOST=cms-memcached
            - CMS_DB_WAIT=300 # 拘勇 Mantendo a espera de 5 minutos, por seguran칞a
        env_file: config.env
            
        mem_limit: 1g
        networks:
            - cms_network

    cms-memcached:
        image: memcached:alpine
        command: memcached -m 15
        restart: always
        mem_limit: 100M
        networks:
            - cms_network

    cms-quickchart:
        image: ianw/quickchart
        restart: always
        networks:
            - cms_network

# 游 Defini칞칚o da Nova Rede com Sub-rede Fixa 游
networks:
    cms_network:
        ipam:
            config:
                - subnet: 172.20.0.0/24
