version: "2.1"

services:
    cms-db:
        image: mysql:8.0
        # ATEN칂츾O: Verifique a documenta칞칚o do Dokploy sobre Volumes Persistentes.
        # Se for necess치rio um caminho espec칤fico (ex: ../files/db), altere aqui.
        volumes:
            - "./shared/db:/var/lib/mysql:Z"
        environment:
            - MYSQL_DATABASE=cms
            - MYSQL_USER=cms
            - MYSQL_RANDOM_ROOT_PASSWORD=yes
        mem_limit: 1g
        env_file: config.env
        restart: always

    cms-xmr:
        image: ghcr.io/xibosignage/xibo-xmr:1.0
        ports:
            # Manter a porta XMR (9505) se voc칡 for us치-la. 
            # Verifique se o Dokploy permite este mapeamento direto.
            - "9505:9505"
        restart: always
        mem_limit: 256m
        env_file: config.env
        
    cms-web:
        image: ghcr.io/xibosignage/xibo-cms:release-4.3.0
        # ATEN칂츾O: Verifique a documenta칞칚o do Dokploy sobre Volumes Persistentes.
        # Se for necess치rio um caminho espec칤fico (ex: ../files/cms), altere aqui.
        volumes:
            - "./shared/cms/custom:/var/www/cms/custom:Z"
            - "./shared/backup:/var/www/backup:Z"
            - "./shared/cms/web/theme/custom:/var/www/cms/web/theme/custom:Z"
            - "./shared/cms/library:/var/www/cms/library:Z"
            - "./shared/cms/web/userscripts:/var/www/cms/web/userscripts:Z"
            - "./shared/cms/ca-certs:/var/www/cms/ca-certs:Z"
        restart: always
        environment:
            - MYSQL_HOST=cms-db
            - XMR_HOST=cms-xmr
            - CMS_USE_MEMCACHED=true
            - MEMCACHED_HOST=cms-memcached
        env_file: config.env
        
        # REMOVEMOS: a linha ports: - "80:80" pois o Dokploy/Traefik cuidar치 disso.
        
        # 游 CONFIGURA칂츾O CR칈TICA PARA O DOKPLOY/TRAEFIK (ADICIONADA) 游
        labels:
            - "traefik.enable=true" 
            - "traefik.http.routers.xibo-cms.rule=Host(`cms.andretec.com`)" 
            - "traefik.http.routers.xibo-cms.entrypoint=websecure" 
            - "traefik.http.routers.xibo-cms.tls.certresolver=letsencrypt" 
            - "traefik.http.services.xibo-cms.loadbalancer.server.port=80"
            
        mem_limit: 1g

    cms-memcached:
        image: memcached:alpine
        command: memcached -m 15
        restart: always
        mem_limit: 100M
        
    cms-quickchart:
        image: ianw/quickchart
        restart: always
